<!DOCTYPE html>
<html lang="en" ng-app="today" class="ng-scope">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">	
    
	<title>Today List</title>	
	
	<link rel="stylesheet" href="css/base.css?v=3">
	<link rel='stylesheet' id='opensans' href='http://fonts.googleapis.com/css?family=Open+Sans:300,800' type='text/css' media='all' />

	<script src="js/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app-fire.js"></script>
	<script src="js/controllers-fire.js"></script>
		
	
</head>

	<body ng-controller="TodayCtrl">

		<section id="todayapp">
			<header id="header">
				<h1 ng-click="selected = 1" ng-class="{active: selected == 1}"><strong>{{selectedDay*oneday | date:'EEE, d MMM'}} </strong> Tasks
				</h1>
			</header>

			
			<section id="main" ng-cloak>
				
				<ul id="todo-list">
					<li ng-repeat="todo in todos | orderByPriority | filter:dayFilter | orderBy: 'completed'" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed" ng-click="update(todo);">
							<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" title="Delete this item" ng-click="delete(todo)"></button>
							<button class="prevday" title="Move to prev day" ng-click="prevday(todo)"></button>								
							<button class="nextday" title="Move to next day" ng-click="nextday(todo)"></button>													
						</div>
						<form ng-submit="doneEditing(todo)">
							<input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" ng-focus="startEditing()">
						</form>

					</li>
				</ul>
			</section>
				
			<div id="add">
				<form id="todo-form" ng-submit="create()">
					<input id="new-todo" placeholder="Type new task then press enter" ng-model="newTodo" autofocus ng-focus="console.log('sadas')">
				</form>
			</div>			
			
		</section>
		
		
		<ul id="days">
			<li ng-repeat="day in days">	
				<a class="size-{{day.tasks}}" ng-class="{active: day.day==selectedDay}" href="#/day/{{day.day*oneday | date:'yyyy-MM-dd'}}" ng-model="selectedDay" title="{{day.day*oneday | date:'EEE, d MMM'}}">
					
				<span ng-if="day.day==today">Today</span> 
				<span ng-if="day.day+1==today">Yesterday</span> 
				<span ng-if="day.day-1==today">Tomorrow</span> 
				<span ng-show="day.day!=today && day.day+1!=today && day.day-1!=today">{{day.day*oneday | date:'EEE, d MMM'}}</span>
				<strong ng-show="day.tasks > 0">{{day.tasks}}</strong>			
				</a>
			</li>
		</ul>		


</body>
</html>